<div id="message-board">
  <div id="channels-list">
    <ul>
      <% @channels.each do |channel| %>
        <li><%= link_to channel.name, channel_path(channel), { remote: true, class: "channels-links" } %></li>
      <% end %>
    </ul>
  </div>

  <div id="messages"></div>
</div>
